/* Notes below regarding the purpose of each setting is true to the best of my knowledge. */

#input {
	margin: 10px; /* how much padding there is around the input box */
	border: none; /* border around the input box */
	background-color: #3b4252; /* background color of the text input box itself */
        color: #d8dee9; /* text color as you type inside the input box */
}

#inner-box {
	margin: 5px;
	border: none; /* horizontal bar that appears above the search results */
	background-color: #2e3440; /* background color behind the search results */
        color: #d8dee9; /* text color of each search result */
}

#outer-box {
	margin: 5px; /* margin between the outer edges of the main window and its contents inside */
	border: none /* border around all the internal window components */
	background-color: #2e3440; /* background color of entire inner window */

}

#text {
	margin: 5px;
	border: none; /* border around each individual item within the search results */
	background-color: trans; /* background behind each individual item within the search results */
        color: #d8dee9;
}

/* Remove the search icon */
#input > image.left {
        -gtk-icon-transform:scaleX(0);
}

#scroll {
	margin: 5px;
	border: 2px solid #2e3440;
	background-color: #2e3440; /* background color behind the search slider */
}

window {
	margin: 15px;
	border: 2px solid #88c0d0; /* border around the entire window */
	background-color: #2e3440;
}
