[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cl = clone
    ru = remote update
    dc = diff --cached
	fuckit = clean -f -d -x -q
[init]
	defaultBranch = main
[core]
	editor = emacs -nw
